/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/style.css ***!
  \*********************************************************************/
body {
  color: blue;
}

